.user_image {
    width: 100%;
    max-width: 150px;
    height: auto;
    max-height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 5%;
    position: relative;
}

.icons_class {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 20px;
}